.contact_form_section {
  padding: 70px 0;
}
.c_container {
  max-width: 1400px;
  width: 100%;
  padding: 30px;
  margin: 0 auto;
}
.main_heading {
  font-size: 1.9rem;
  font-family: cunia;
  /* text-align: center; */
  text-transform: uppercase;
  margin-bottom: 30px;
}
.yellow {
  color: #ffaf00;
}
.form_div {
  width: 100%;
  display: flex;
}
.form_div_left {
  width: 50%;
  padding: 0 20px;
  font-size: 1.25rem;
}
.form_div_right {
  width: 50%;
  padding: 0 20px;
}
.contact_div {
  color: #d69300;
  padding-top: 30px;
}
.contact_div .text {
  display: flex;
}
.img_span {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: -3px;
}
.img_span2 {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: -3px;
}
.form_control {
  width: 100%;
  padding: 15px;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  outline: none;
  margin-top: 6px;
  margin-bottom: 13px;
  font-size: 15px;
}
.form_control:focus {
  border: 1px solid #ffaf00;
  box-shadow: 0px 0px 4px 2px #ffae0086;
  background-color: #ffbe320e;
}
.submit_btn {
  background-color: #ffaf00;
  padding: 13px 40px;
  border-radius: 5px;
  color: #000;
  font-size: 1.2rem;
  border: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submit_btn:hover {
  background-color: #cf8e00;
}
.map_div iframe {
  border-radius: 10px;
  overflow: hidden;
  padding-top: 50px;
}
/* media quries */

@media (max-width: 1050px) {
  .banner h1 {
    font-size: 3.5rem;
  }
  .banner h4 {
    font-weight: 400;
  }
}
.banner_btns {
  margin-bottom: 80px;
}
@media (max-width: 900px) {
  .contact_form_section {
    padding: 10px 0;
  }
  .form_div_left {
    padding-left: 0;
    padding-right: 20px;
  }
  .form_div_right {
    padding-right: 0;
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  .contact_form_section {
    padding: 0;
  }
  .form_div {
    flex-direction: column;
  }
  .form_div_left {
    width: 100%;
    padding: 0;
  }
  .form_div_right {
    width: 100%;
    padding: 20px 0 0 0;
    }
    .img_span { 
      margin-right: 10px;
    }
    .contact_div .text {
      padding-bottom: 10px;
    }
  }
